.fullBar {
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
}

.navigationBar {
  height: 120px;
  max-width: 1460px;
  margin: 0 auto;
  padding: 20px;
}

.mainLogo {
  width: 350px;
}

// .optionColors {
//   color: #696969!important;
//   &.Mui-selected {
//     background-color: rgba(105, 105, 105, 0.4)!important;
//   }
// }