.fullBar {
  width: 100%;
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000
}

.navigationBar {
  height: 120px;
  max-width: 1460px;
  margin: 0 auto;
  padding: 20px;
}

.mainLogo {
  width: 350px;
}

.navigationFooter {
  position: fixed;
  bottom: 0;
  width: 100%;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.5);
  transform: translateY(56px);
  transition: all 0.5s ease-in-out;
  .toggler {
    position: absolute;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.5);
    background-color: #FFF;
    right: 20px;
    top: -20px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    border-radius: 5px;
    z-index: -1;
    transition: all 0.2s ease-in-out;
    &:hover {
      background-color: #D3D3D3;
    }
  }
  &[data-toggle="true"] {
    transform: translateY(0);
    .toggleArrow {
      transform: rotate(180deg);
      transition: all 0.5s ease-in-out;
    }
  }
}