@keyframes expandIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.jumbotronContainer {
  position: relative;
  max-height: 500px;
  box-sizing: border-box;
  margin: 0 auto;
  animation: expandIn 2s;
  &:before {
    position: absolute;
    height: 100%;
    width: 100%;
    content: "";
    background-image: linear-gradient(to bottom, transparent 95%, white);
    background-color: rgba(0, 0, 0, 0.4);
  }
}

.jumbotronImage {
  width: 100%;
  max-height: 500px;
  object-fit: cover;
}