.homeImage {
  object-fit: cover;
  height: 100vh;
  width: 100vw;
}

.callToAction {
  height: fit-content;
  text-align: center;
  h1 {
    margin: 50px auto 70px auto;
    font-size: 36px;
    max-width: 992px;
  }
}

.ctaVisual {
  display: grid;
  grid-template-columns: repeat(2, minmax(auto, 1fr));
  justify-items: center;
  align-items: center;
  grid-gap: 50px;
  margin-bottom: 25px;
  p {
    font-size: 26px;
    max-width: 350px;
  }
  img {
    object-fit: cover;
    height: auto;
    width: 100%;
  }
}

.homeHighlights {
  width: 100%;
  .highlight {
    height: 600px;
    width: 75vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 8px;
  }
}

@media only screen and (max-width: 768px) {
  .callToAction {
    h1 {
      font-size: 32px;
    }
    p {
      font-size: 22px;
    }
  }

  .ctaVisual {
    grid-gap: 25px;
  }

  .catchPhraseOne {
    max-width: 100%;
    text-align: center;
  }

  .homeHighlights {
    .highlight {
      height: 450px;
      width: 80vw;
    }
  }
}

@media only screen and (max-width: 568px) {
  .callToAction {
    h1 {
      font-size: 28px;
    }
    p {
      font-size: 18px;
    }
  }

  .homeHighlights {
    .highlight {
      height: 300px;
      width: 85vw;
    }
  }
}