@import './normalize.scss';

// Didot
@font-face {
  font-family: Didot-Bold;
  src: url('./fonts/Didot-HTF-B42-Bold.ttf');
  font-weight: normal; 
}

@font-face {
  font-family: Didot-Med;
  src: url('./fonts/Didot-HTF-M42-Medium.ttf');
  font-weight: normal; 
}

@font-face {
  font-family: Didot-Light;
  src: url('./fonts/Didot-HTF-L42-Light.ttf');
  font-weight: normal; 
}

body {
  padding: 0;
  margin: 0 auto;
  width: 100%;
}

h1, h2, h3 {
  font-family: Didot-Bold!important;
}

h4, h5, h6 {
  font-family: Didot-Med!important;
}

p, a, span {
  font-family: Didot-light!important;
}