.previewAuthor {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
  p {
    margin: 0 0 3px 10px;
  }
  img {
    border-radius: 50%;
    height: 35px;
    width: 35px;
  }
}

.previewText {
  position: relative;
  padding: 0 0 55px 0;
}

.previewImage {
  min-height: 350px;
  min-width: 350px;
  object-fit: cover;
}

.previewButton {
  display: flex;
  justify-content: center;
  align-items: center;
}

.previewCard {
  cursor: pointer;
  box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.4);
  padding: 0 0 20px 0;
  &[data-hover="true"] {
    .overlay {
      &:before {
        background-color: rgba(0, 0, 0, 0.3);
      }
    }
    .previewDate, .previewTime {
      opacity: 1;
    }
  }

  h2 {
    text-align: center;
  }
}

.previewTime {
  transition: all 0.2s ease-in-out;
  position: absolute;
  bottom: -40px;
  right: 0;
  background-color: #FFF;
  padding: 5px;
  opacity: 0;
}

.previewDate {
  transition: all 0.2s ease-in-out;
  opacity: 0;
  z-index: 1;
  position: absolute;
  top: 20px;
  left: 0;
  background-color: #FFF;
  padding: 5px;
  p {
    margin: 0
  }
}

.preview {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(350px, 1fr));
  grid-gap: 40px;
}

.overlay {
  position: relative;
  &:before {
    transition: all 0.2s ease-in-out;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    content: '';
    background-color: rgba(0, 0, 0, 0.4);
  }
}