.previewAuthor {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
  p {
    margin: 0 0 3px 10px;
  }
  img {
    border-radius: 50%!important;
    height: 35px!important;
    width: 35px!important;
  }
}

.previewSummary {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  padding: 70px 20px 20px 20px;
  transform: translateX(100%);
  transition: all 0.5s ease-in-out;
  color: #F8F8FF;
  box-sizing: border-box;
  p {
    display: -webkit-box;
    overflow : hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 8;
    -webkit-box-orient: vertical;  
  }
}

.previewText {
  position: relative;
  padding: 0 0 55px 0;
}

.previewCard {
  cursor: pointer;
  text-overflow: ellipsis;
  overflow: hidden;
  &[data-hover="true"] {
    .previewImage {
      &:before {
        background-color: rgba(0, 0, 0, 0.3);
      }
    }
    .previewDate, .previewTime {
      opacity: 1;
    }
  }

  h2 {
    text-align: center;
  }

  &:hover {
    .previewSummary {
      transform: translateX(0);
    }
  }
}

.previewTime {
  transition: all 0.2s ease-in-out;
  position: absolute;
  bottom: -40px;
  right: 0;
  opacity: 0;
}

.previewDate {
  transition: all 0.2s ease-in-out;
  opacity: 0;
  z-index: 1;
  position: absolute;
  top: 20px;
  left: 0;
  background-color: #FFF;
  padding: 5px;
  p {
    margin: 0
  }
}

.previewRegular {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(350px, 1fr));
  grid-gap: 40px;
}

.previewLarge {
  display: grid;
  grid-template-columns: 40% 1fr;
  grid-template-rows: repeat(1, minmax(350px, 1fr));
  margin-bottom: 40px;
  grid-gap: 40px;
  width: 100%;
  position: relative;
  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  .previewDetails {
    border-top: 2px solid rgba(0, 0, 0, 0.2);
    padding: 25px 25px 50px 25px;
    .header {
      display: flex;
      align-items: center;
      .previewTime {
        position: static;
        margin-left: 20px;
        opacity: 1;
      }
    }

    .previewAuthor {
      position: absolute;
      bottom: 0;
      right: 25px;
      margin: 0;
    }
  }
}

.previewImage {
  position: relative;
  height: 350px;
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  box-sizing: border-box;
  &:before {
    transition: all 0.2s ease-in-out;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    content: '';
    background-color: rgba(0, 0, 0, 0.4);
  }
}

.previewCarousel {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  .carouselContent {
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    text-align: center;
    max-height: 350px;
    max-width: 568px;
    height: 75%;
    width: 90%;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 1;
    padding: 50px;
    border-radius: 5px;
  }
  
  img {
    position: absolute;
    object-fit: cover;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -100;
  }
}

.carouselHeader {
  font-size: 28px;
}

.carouselText {
  display: -webkit-box;
  overflow : hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  font-size: 20px;
}


@media only screen and (max-width: 768px) {
  .previewLarge {
    grid-template-columns: repeat(1, minmax(auto, 1fr));
    grid-template-rows: repeat(fit-content, minmax(350px, 1fr));
    .previewDetails {
      padding: 15px 15px 50px 15px;
      border-top: none;
      .header {
        display: flex;
        align-items: center;
        .previewTime {
          position: static;
          margin-left: 20px;
          opacity: 1;
        }
      }
  
      .previewAuthor {
        right: 15px;
      }
    }
  }
  
  .previewDate {
    opacity: 1;
  }

  .previewTime {
    opacity: 1;
    bottom: 5px;
    right: 5px;
  }

  .carouselHeader {
    font-size: 24px;
  }
  
  .carouselText {
    font-size: 18px;
  }
}

@media only screen and (max-width: 568px) {
  .previewRegular {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(250px, 1fr));
  }
  
  .previewLarge {
    grid-template-rows: repeat(fit-content, minmax(250px, 1fr));
  }

  .previewImage {
    height: 250px;
  }

  .previewCarousel {
    .carouselContent {
      max-height: 250px;
      padding: 20px;
    }
    .carouselHeader {
      font-size: 20px;
    }
    
    .carouselText {
      font-size: 16px;
    }
  }
}