.previewAuthor {
  display: grid;
  grid-template-columns: 35px 200px;
  grid-gap: 5px;
  align-items: center;
  img {
    border-radius: 50%;
    height: 35px;
    width: 35px;
  }
}

.preview {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(350px, 1fr));
  grid-gap: 25px;
}

.previewCard {
  cursor: pointer;
  &[data-hover="true"] {
    .overlay {
      &:before {
        background-color: rgba(0, 0, 0, 0.2);
      }
    }
    .dateContainer {
      opacity: 1;
    }
  }
}

.overlay {
  position: relative;
  &:before {
    transition: all 0.2s ease-in-out;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    content: '';
    background-color: rgba(0, 0, 0, 0.4);
  }
}

.previewImage {
  min-height: 350px;
  min-width: 350px;
  object-fit: cover;
}

.dateContainer {
  transition: all 0.2s ease-in-out;
  opacity: 0;
  z-index: 1;
  position: absolute;
  top: 20px;
  background-color: #FFF;
  padding: 5px;
  p {
    margin: 0
  }
}

.previewText {
  position: relative;
  padding: 0 0 55px 0;
}

.previewFooter {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  p {
    margin: 0;
  }
}